* {box-sizing: border-box;}

.side-border {
    background-color: rgb(255, 238, 207);
    padding: 0px 15%;
}
.home {
    background-color: white;
}
.page-link {
    color: black;
    font-size: 24px;
    display: block;
    text-align: center;
}
.home-button {
    text-align: left;
}
body {font-family: "Roboto", sans-serif;
}
.ingredients {
    background-color: rgba(245, 226, 213, 0.521);
    max-width: fit-content;
    padding-right: 20px;
    font-size: 18px;
    border-style:dotted;
    border-color: rgba(224, 124, 106, 0.712);
}
h1{
    text-decoration: underline;
    text-align: center;
}
h2{
    text-decoration: underline;
}
h3{
    text-decoration: underline;
}
.steps {
    font-size: 18px;
    line-height: 170%;
    border-style: solid;
    border-color: rgba(177, 190, 201, 0.466);
    padding-right: 20px;
}
p {
    font-size: 20px;
    border-bottom: 5px dashed #fde8a1;
    padding-bottom: 20px;
}
img {
    max-width: 100%;
    max-height: 100%;
    margin: 20px 0px;
}